@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Borel&family=Pangolin&display=swap');

html{
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}

@keyframes pos {
  0% { translate: 0%; }
  100% { translate: 1000%; }
}

.animate-pos {
  animation: pos 2s ease-in-out infinite;
}